/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#content > div {
  width: 100%;
  text-align: center;
}

#master, #detail {
  width: calc(50% - 5px);
  display: inline-block;
}

#master canvas {
  border: 1px solid;
}
